[Desktop Entry]
Name=Google Chrome
Comment=Browse the web
Exec=google-chrome --no-sandbox --disable-dev-shm-usage --disable-gpu --disable-software-rasterizer --no-first-run --no-default-browser-check %U
Icon=google-chrome
Type=Application
Categories=Network;WebBrowser;
