[Desktop Entry]
Name=Google Chrome
Comment=Browse the web
Exec=google-chrome %U
Icon=google-chrome
Type=Application
Categories=Network;WebBrowser;
StartupNotify=true
